<%= title "Comment for "+@recipe.name%>
<%= render @comment%>
<div class="dropdown">
  <% if current_user == @comment.user %>
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Options
  </button> | 
  <% end %>
  <%= link_to "Back to comments", @recipe %> <!-- recipe_comments_path(@recipe) -->

  <ul class="dropdown-menu">
    <li><%= link_to "Edit Comment", edit_recipe_comment_path(@recipe,@comment), class: "dropdown-item" %> </li>
    <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Delete Comment</a></li>
  </ul>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Warning</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure to delete this recipe?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <%= button_to 'Yes', [@recipe,@comment], method: :delete, class: 'btn btn-danger' %>  
      </div>
    </div>
  </div>
</div>