<% title "View Recipe" %>
<div id="recipe_comments" class = "recipe-row"> 
  <div class = "recipe-col"> 
    <%= render @recipe %> <!-- you need the instance variable here, recipe in index is loop var -->
    
    <!--
    <%= link_to "Edit Recipe", edit_recipe_path %> 
    <%= button_to 'Delete Recipe', @recipe, method: :delete, class: 'btn btn-danger', form: { data: {turbo_confirm: "Are you sure?"}} %>-->
    <div class="dropdown">
      <% if current_user == @recipe.user %>
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Options
        </button> | 
      <% end %>
      
      
      <%= link_to "All Recipes", recipes_path %>
    
      <ul class="dropdown-menu">
         <!--<li><%= link_to "Comments", recipe_comments_path(@recipe), class: "dropdown-item" %> </li>-->
         <li><%= link_to "Edit Recipe", edit_recipe_path, class: "dropdown-item" %> </li>
        <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Delete</a></li>
      </ul>
    </div>
  </div>
  <div class = "recipe-col">
    <h3>Comments</h3>
    <%= render @recipe.comments%>
    <%= link_to "Comment", new_recipe_comment_path(@recipe), class: "btn btn-primary" %>
  </div>
      

</div>




<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Warning</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure to delete this recipe?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <%= button_to 'Yes', @recipe, method: :delete, class: 'btn btn-danger' %>
      </div>
    </div>
  </div>
</div>